<% if current_user %>
  <%= current_user.name %><%= link_to 'Logout', logout_path %>
<% else %>
<center><div class="row" "fa fa-flag fa-2x pull-left">
  <center><%= link_to "Get your Google sheets!", '/auth/google_oauth2' %></center>
</div></center>
  <% end %>
