
<br>
<br>
<br>
<div class="row header">
  <div class="col-xs-12 text-center">
    <h1>Use Google Spreadsheets any way you want!</h1>
    <p class="lead">Display your spreadsheet data right on your static site.</p>
    <h1>&nbsp;</h1>
    <div class="btn btn-primary btn-lg">
      <%= link_to "Get your Google sheets!", "/auth/google_oauth2" %>
      <span class="glyphicon glyphicon-cloud-download">
      </span>
    </div>
  </div>
</div>
