<div class="col-lg-12">
  <div class="row centered">
    <div class="col-md-4">
      <h1>Choose Your ZenSheet!</h1>
      <ul>
        <% @google.each do |sheet| %>
        <hr>
        <% key = sheet["id"]["$t"].gsub("https://spreadsheets.google.com/feeds/spreadsheets/private/full/", '') %>
        <li>Sheet Title: <%= sheet["title"]["$t"] %></li>
        <li>Author: <%= sheet["author"][0]['name']["$t"] %></li>
        <div class="btn btn-primary btn-lg">
          <%= link_to 'Get your Worksheets', sheet_key_sheets_path(key)  %>
        </div>
          <% end %>
      </ul>

      <% current_user.sheets.each do |zensheet| %>
      <%= zensheet.id %>
      <% end %>
    </div>
  </div>
</div>
