<h1>Your Worksheet</h1>


<%= link_to "Confirm you want to share this worksheet?", sheets_path(params.slice(:sheet_key, :worksheet_id)), method: :post %>

  <% if !@worksheet.blank? %>
    <pre><%= JSON.pretty_generate(@worksheet) %></pre>

  <% end %>
