<div class="container-fluid">
  <h1>Your Worksheet</h1>
  <div class="row header">
    <div class="col-xs-12 text-center">
      <div class="btn btn-primary btn-lg">
        <%= link_to "Confirm you want to share this worksheet data?", sheets_path(params.slice(:sheet_key, :worksheet_id)), method: :post %><br>
      </div>
    </div>
    <br>
    <% if !@worksheet.blank? %>
    <pre><%= JSON.pretty_generate(@worksheet) %></pre>
    <% end %>
  </div>
